.add {
  height: 200px;
  width: 250px;
  background-color: rgb(56, 50, 73);

  border-radius: 10px;
}

.add button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 70px;
  color: rgb(255, 255, 255);
}
