.addnote {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(53, 53, 53, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
}

.addnote input {
  height: 40px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
}

.addnote textarea {
  margin: 0 15px 10px 15px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border: none;
  line-height: 1.3;
}

textarea,
input:focus {
  outline: 0;
  background-color: #d1d1d1;
}

.addnote > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0 15px;
  margin-bottom: 10px;
}

.addnote button {
  margin: 0 0 0 10px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: transparent;
}
